.form {
display: flex;
flex-direction: row;
gap:20px;
flex-wrap: wrap;
}
.form label {
    display: none;
}
.form input, 
.form textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
}
.form textarea {
    min-height: 60px;
    max-height: 300px;
    resize: vertical;
}