@import "../css/base/base.css";
@import "../css/base/layout.css";

@import "../css/3rd-party/font-awesome.min.css";

@import "../css/components/button.css";
@import "../css/components/clock.css";
@import "../css/components/form.css";
@import "../css/components/mouse.css";
@import "../css/components/progress-bar.css";

.hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    align-items: center;
}
.hero > .logo {
height: 60px;
width: 60px;
}
.hero > .title {
    font-size: 70px;
    text-transform: uppercase;

}
.hero > .description {
font-size: 20px;
}