@import "../css/base/base.css";
@import "../css/base/layout.css";

@import "../css/3rd-party/font-awesome.min.css";

@import "../css/components/button.css";
@import "../css/components/clock.css";
@import "../css/components/form.css";
@import "../css/components/mouse.css";
@import "../css/components/progress-bar.css";

section.bg-main {
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}
.hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    align-items: center;
}
.hero > .logo {
height: 60px;
width: 60px;
}
.hero > .title {
    font-size: 70px;
    text-transform: uppercase;

}
.hero > .description {
font-size: 20px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.right-column {
width: 40%;
}
.section-title {
font-size: 20px;
text-transform: uppercase;
}
.section-description {
 font-size: 18px;
 color: #777;
}
.section-description > a {
    color: red;
    text-decoration: none;
   }
   .section-description > a:hover {
    text-decoration: underline;
   }
   footer.container {
       padding-top: 0;
   }
   footer > .row {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
   }
   .footer-bottom {
       display: flex;
       flex-direction: column;
       text-align: center;
       color: #fffa;
       font-size: 18px;
       line-height: 26px;
       align-items: center;
   }
   .footer-bottom > .logo {
       height: 40px;
       width: 160px;
       margin: 40px 0;
   }
   .footer-bottom > .futeriukai {
       display: flex;
       justify-content: center;
       gap: 30px;
   }
   .footer-bottom a {
       color: #fff;
   }